.Rproj.user
*.Rproj
.Rhistory
.RData
.Ruserdata
Data/Occupancy_estimates
Data/RAW_occdet
Data/tmp
Data/Drivers/RAW
Data/Drivers/TrecabsM1901_ch02.lonlat_190101010000_202112010000.nc
Data/Other/ag-b-00.03-37-area-all-csv.csv
Data/Other/swissBOUNDARIES3D_1_5_LV95_LN02.gpkg
Data/Other/biogeographic_zones.gpkg
Data/Other/Worldclim
Data/Other/cgrs_grid
Data/Other/GBIF/0041029-240906103802322
Data/Traits/RAW
Models
Output
